services:

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: manojpm12/dd-backend:latest
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "8000:8080"
    environment:
      - DB_HOST=mongo
    depends_on:
      - mongo

  frontend:
    image: manojpm12/dd-frontend:latest
    build: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8081:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data: